@model Assembly
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h2>Details</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>ExecutionTime</th>
                <th>Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr>
                    <td>@test.Name</td>
                    <td>@test.ExecutionTime</td>
                    <td>@test.ExecutionStatus</td>
                    <td>@test.Message</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>