@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Выберите файл для загрузки</h3>
    <form asp-action="LoadAssemblies" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="file" name="assembly" /><br>
        <input type="submit" value="Загрузить" />
    </form>
    <form asp-action="RunTests" method="post">
        <input type="submit" value="Начать тестирование" />
    </form>
</div>
